---
layout: default
slideshow:
 - slide: 'frontpage.png'
   nocover: true
   title: 'Urban and Open'
   subtitle: 'Making urban planning data better by making it more open'
 - slide: 'frontpage.png'
   nocover: true
   title: 'Disaster Risk Mitigation'
   subtitle: 'Leveraging open data sets for disaster risk mitigation modeling and rescue and relief efforts'
 - slide: 'frontpage-osm.png'
   title: 'Your World, Your Map'
   subtitle: 'Adding society-critical datasets to the the free, citizen-powered <a href="http://openstreetmap.org">OpenStreetMap</a>, with global coverage and street level detail'
---

<div id='video-area'>
  <h4 class='title-video'>Unleash the true possibility for ground-sourced public data infrastructure.</h4>
</div>

<div class='projects'>
  <div class='projects clearfix'>
    {% for item in site.categories.cities %}
    <div href='{{site.baseurl}}{{item.url}}' class='project' style='background-image:url("{{site.baseurl}}/img/banners/{{item.preview}}");' alt='' />
      <div class='headline'>
        <span class='label'>City</span>
        <h2 class='title'>{{item.title}}</h2><br />
        <a href='{{site.baseurl}}{{item.url}}' class='button'>Explore All</a>
      </div>
      <div class='dot-matrix'></div>
      <div class='overlay'></div>
      <ul class='activities'>
        {% for case in site.categories.casestudy %}
          {% for tag in case.tags %}
            {% if tag == item.city %}
              {% for tag in case.tags %}
                {% if tag == 'featured' %}
                <li>
                  <a href='{{site.baseurl}}/{{case.url}}'>
                    <h4 class='title'>{{case.title}}</h4>
                    <span class='more'>More</span>
                  </a>
                </li>
                {% endif %}
              {% endfor %}
            {% endif %}
          {% endfor %}
        {% endfor %}
      </ul>
    </div>
    {% endfor %}
  </div>
</div>
