/* ------------------------------------------
  Reset ♥
  http://meyerweb.com/eric/tools/css/reset/
  v2.0 | 20110126
  License: none (public domain)
---------------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  font-size:100%;
  font:inherit;
  vertical-align:baseline;
  }
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, /eader, hgroup, menu, nav, section {
  display:block;
  }
body { line-height:1; }
ol, ul { list-style:none;  }
blockquote, q { quotes:none; }
blockquote:before, blockquote:after,
q:before, q:after { content:''; content:none; }
/* tables still need 'cellspacing="0"' in the markup */
table { border-collapse: collapse; border-spacing:0; }
/* remember to define focus styles. Hee Haw */
:focus { outline:0; }

/* ------------------------------------------
  Typography ♥
---------------------------------------------*/
@font-face {
  font-family:'Opensans';
  src: url('fonts/opensans/opensans-regular.eot') format('eot');
  src: url('fonts/opensans/opensans-regular.eot?#iefix') format('embedded-opentype'),
       url('fonts/opensans/opensans-regular.woff') format('woff'),
       url('fonts/opensans/opensans-regular.ttf') format('truetype');
  }

@font-face {
  font-family:'Opensans';
  font-weight:bold;
  src: url('fonts/opensans/opensans-bold.eot') format('eot');
  src: url('fonts/opensans/opensans-bold.eot?#iefix') format('embedded-opentype'),
       url('fonts/opensans/opensans-bold.woff') format('woff'),
       url('fonts/opensans/opensans-bold.ttf') format('truetype');
  }

@font-face {
  font-family:'Opensans';
  font-style:italic;
  src: url('fonts/opensans/opensans-italic.eot') format('eot');
  src: url('fonts/opensans/opensans-italic.eot?#iefix') format('embedded-opentype'),
       url('fonts/opensans/opensans-italic.woff') format('woff'),
       url('fonts/opensans/opensans-italic.ttf') format('truetype');
  }

@font-face {
  font-family:'Bitter';
  font-style:normal;
  font-weight:700;
  src: url('fonts/bitter/bitter-bold.eot') format('eot');
  src: url('fonts/bitter/bitter-bold.eot?#iefix') format('embedded-opentype'),
       url('fonts/bitter/bitter-bold.woff') format('woff'),
       url('fonts/bitter/bitter-bold.ttf') format('truetype');
  }

/* ------------------------------------------
  Inline Element Styling ♥
---------------------------------------------*/
body {
  background:#fefefe;
  font:15px/22px Opensans,'Helvetica Neue', Helvetica, Arial, sans-serif;
  color:#404040;
  -webkit-font-smoothing:antialiased;
  margin:0; padding:0;
  max-width:1600px;
  margin:0px auto;
  }

h1, h2, h3, h4, h5, h6, .case-title {
  font-family:'Bitter', 'Georgia', 'Times New Roman', 'Hoefler Text', serif;
  }
.title {
  font-family:Opensans,'Helvetica Neue', Helvetica, Arial, sans-serif;
  }
h2 {
  font-size:28px;
  line-height:36px;
  margin:0 0 10px;
  }
h3 {
  font-size:22px;
  line-height:28px;
  margin:0 0 20px;
  }
h4 {
  font-size:18px;
  line-height:24px;
  margin:0 0 10px;
  }

p {
  margin:0 0 20px;
  }
a {
  color:#28679b;
  text-decoration:none;
  -webkit-transition:color 50ms linear;
     -moz-transition:color 50ms linear;
       -o-transition:color 50ms linear;
          transition:color 50ms linear;
  }
  a.active,
  a:hover {
    color:#3b96cb;
    }

.tabs {
  margin-bottom:40px;
  }
.tabs a,
.button {
  display:inline-block;
  background:#3b96cb;
  color:#fff;
  font-weight:bold;
  height:40px;
  line-height:40px;
  padding:0 20px;
  text-shadow:none;
  }
  .tabs a:hover,
  .button:hover {
    background:#28679b;
    color:#fff;
    }
  .tabs .first {
    -webkit-border-radius:3px 0 0 3px;
            border-radius:3px 0 0 3px;
    }
  .tabs .last {
    -webkit-border-radius:0 3px 3px 0;
            border-radius:0 3px 3px 0;
    }

table {
  width:100%;
  background-color:transparent;
  border-collapse:collapse;
  border-spacing:0;
  margin-bottom:20px;
  }
  th,
  td {
    padding:2px 8px;
    line-height:20px;
    text-align:left;
    vertical-align:top;
    border-bottom:1px solid #ccc;
    }
  th {
    font-weight:bold;
    }
  thead th {
    vertical-align:bottom;
    color:#57594D;
    }

strong {
  font-weight:bold;
  }
em {
  font-style:italic;
  }
small {
  font-size:13px;
  }

.subtitle {
  font-size:22px;
  line-height:28px;
  color:#8897a0;
  font-weight:normal;
  }
  .header.map .subtitle {
    color:#8897a0;
    }
  .header .subtitle {
    color:#fff;
    }

.label {
  display:block;
  font-weight:bold;
  position:relative;
  z-index:10;
  }

.icon {
  background:transparent url(img/sprite.png) no-repeat 0 0;
  display:block;
  width:20px;
  height:20px;
  text-indent:-999em;
  }
  .slide-control .icon {
    width:80px;
    height:60px;
    position:absolute;
    top:50%;
    margin-top:-30px;
    }
    .icon.next {
      right:0;
      background-position:0 -90px;
      }
    .icon.prev {
      left:0;
      background-position:-85px -90px;
      }

  .icon.gfdrr {
    width:160px;
    height:40px;
    position:relative;
    top:10px;
    }
  .icon.wb {
    background-position:0 -40px;
    width:198px;
    height:45px;
    }
  .icon.ds {
    background-position:-205px 0;
    width:172px;
    height:40px;
    }
  .icon.logo {
    background-position:0 -295px;
    width:132px;
    height:70px;
    }
    .interactive-heading .icon.logo {
      width:66px;
      height:32px;
      background-position:-140px -328px;
      margin-right:10px;
      }

.dark {
  background:#000;
  padding:40px 0;
  }
.prose {
  font:15px/24px Opensans,'Helvetica Neue', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing:subpixel-antialiased;
  color:#5C676F;
  }
  .prose h2,
  .prose h3 {
    font-family:Opensans,'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight:bold;
    color:#fff;
    }
  .prose h2 {
    font-size:15px;
    line-height:22px;
    }
  .prose ul {
    list-style:disc;
    margin:0 0 10px 40px;
    }
  .prose ol {
    list-style:decimal;
    }
  .prose p {
    margin:0 0 10px;
    }
  .prose img {
    max-width:100%;
    }

/* ------------------------------------------
  Global layout & styling ♥
---------------------------------------------*/
.limiter {
  width:960px;
  margin:0 auto;
  padding:0 20px;
  }
  .col800 {
    width:800px;
    }
  #header {
    background-color:#101010;
    background-repeat:no-repeat;
    height:440px;
    color:#fff;
    text-shadow:0 1px 2px rgba(0,0,0,0.5);
    position:relative;
    background-position:center top;
    background-repeat:no-repeat;
    background-size:cover;
    }
    .header.no-header {
      height:auto;
      }

  .slide {
    position:absolute;
    width:100%;
    height:440px;
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center top;
    display:none\9; /* target < ie9 */
    opacity:0;
    -webkit-transition:opacity 0.3s;
       -moz-transition:opacity 0.3s;
         -o-transition:opacity 0.3s;
            transition:opacity 0.3s;
    }
    .slide.no-cover {
      background-size:auto;
      }
    .slide.active {
      display:block\9; /* target < ie9 */
      opacity:1;
      }

    .header .limiter {
      position:relative;
      }
    .header .title-block {
      float:left;
      position:relative;
      margin-top:120px;
      width:480px;
      z-index:100;
      }
    .header a {
      color:#fff;
      }
      .header a.active {
        color:#3B96CB;
        }

    .interactive-heading .logo,
    .header .logo {
      position:relative;
      display:inline-block;
      z-index:100;
      }
    .header .logo {
      top:40px;
      }
    .slide-control {
      background:transparent;
      position:absolute;
      width:80px;
      height:100%;
      top:0;
      left:0;
      z-index:2000;
      -webkit-transition:all 100ms linear;
         -moz-transition:all 100ms linear;
           -o-transition:all 100ms linear;
              transition:all 100ms linear;
      }
      .slide-control.next {
        left:auto;
        right:0;
        }
      .slide-control:hover {
        background-color:rgba(0,0,0,0.25);
        opacity:1;
        }

.interactive-heading .nav,
.header .nav {
  position:absolute;
  top:40px;
  right:0;
  z-index:2000;
  }
  .interactive-heading .nav a,
  .header .nav a {
    font-family:Opensans,'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight:bold;
    margin-left:10px;
    -webkit-font-smoothing:subpixel-antialiased;
    }

.inner {
  padding:20px;
  }
.footer {
  padding:40px 0;
  }

/* ------------------------------------------
  Site styling ♥
---------------------------------------------*/
.dot-matrix {
  background:url(img/dot-matrix.png) repeat 0 0;
  width:100%;
  height:100%;
  position:absolute;
  top:0;left:0;
  }
.overlay {
  background:url(img/overlay.png) repeat 0 0;
  width:100%;
  height:100%;
  position:absolute;
  top:0;left:0;
  }

.section {
  padding:40px 0;
  }
  .section.data-coverage {
    background:#000;
    height:360px;
    position:relative;
    -webkit-box-shadow:0 -2px 4px rgba(0,0,0,0.25);
            box-shadow:0 -2px 4px rgba(0,0,0,0.25);
    }
  .section.data-coverage .title {
    color:#fff;
    text-shadow:0 1px 2px rgba(0,0,0,0.5);
    }
  .section .title {
    font-size:28px;
    line-height:36px;
    color:#404040;
    width:600px;
    margin:0 auto 40px;
    position:relative;
    z-index:10;
    }
  .section .viewport {
    background:#101010;
    margin:20px 0;
    width:100%;
    height:360px;
    margin:0 auto;
    }
  .section.grey {
    background:#eee;
    }

/* Partners Section on page: About */
.section .partners a {
  display:inline-block;
  font-weight:bold;
  padding:10px;
  margin:0 5px 10px 5px;
  border:1px solid #eee;
  }
  .section .partners a:hover {
    border-color:#404040;
    }
  .section .partners img {
    width:200px;
    display:block;
    margin:0 auto 10px;
    }

.project {
  background:#101010;
  color:#fff;
  text-shadow:0 1px 2px rgba(0,0,0,0.5);
  position:relative;
  height:400px;
  background-repeat:no-repeat;
  background-position:center top;
  background-size:cover;
  }
  .project .headline {
    position:absolute;
    top:20px;
    left:20px;
    z-index:100;
    }
    .project .button {
      opacity:0;
      -webkit-animation-fill-mode:both;
         -moz-animation-fill-mode:both;
           -o-animation-fill-mode:both;
              animation-fill-mode:both;
      -webkit-animation-duration:300ms;
         -moz-animation-duration:300ms;
           -o-animation-duration:300ms;
              animation-duration:300ms;
      -webkit-animation-name:fadeOutLeft;
         -moz-animation-name:fadeOutLeft;
           -o-animation-name:fadeOutLeft;
              animation-name:fadeOutLeft;
      }
    .project .overlay {
      opacity:1;
      -webkit-transition:opacity 600ms;
         -moz-transition:opacity 600ms;
           -o-transition:opacity 600ms;
              transition:opacity 600ms;
      }
    .project:hover .overlay {
      opacity:0;
      }
    .project:hover .button {
      display:inline-block;
      opacity:1;
      -webkit-animation-delay:300ms;
         -moz-animation-delay:300ms;
           -o-animation-delay:300ms;
              animation-delay:300ms;
      -webkit-animation-name:fadeInLeft;
         -moz-animation-name:fadeInLeft;
           -o-animation-name:fadeInLeft;
              animation-name:fadeInLeft;
      }
    .project .headline .title {
      margin:0;
      }

/*Case study blocks*/
.activities {
  width:800px;
  margin:0 auto;
  }
  .activities li {
    background-color:#202020;
    display:block;
    width:33.3333%;
    float:left;
    }
    .activities .city-desc {
      background:#fff;
      padding:10px;
      display:block;
      height:80px;
      overflow:hidden;
      margin:0 1px 20px 1px;
      }
    .activities.grid li {
      background-color:transparent;
      }
      .activities.grid li a {
        background:#202020;
        margin:0 1px;
        }
    .activities li a {
      display:block;
      padding:20px 10px;
      color:#F0F0F0;
      height:180px;
      position:relative;
      text-shadow:none;
      text-shadow:0 1px 2px rgba(0,0,0,0.5);
      }
      .projects .activities .overlay,
      .activities .overlay {
        opacity:1;
        -webkit-transition:opacity 600ms;
           -moz-transition:opacity 600ms;
             -o-transition:opacity 600ms;
                transition:opacity 600ms;
        }
      .projects .activities a:hover .overlay,
      .activities a:hover .overlay {
        opacity:0.5;
        }
      .activities li a .case-title {
        position:relative;
        }
      .activities li a .more {
        background:#255D91;
        color:#fff;
        font-weight:bold;
        text-shadow:none;
        position:absolute;
        top:50%;
        right:0;
        display:inline-block;
        font-size:13px;
        height:40px;
        line-height:40px;
        margin-top:20px;
        text-align:center;
        width:80px;
        -webkit-box-shadow:0 1px 2px rgba(0,0,0,0.5);
                box-shadow:0 1px 2px rgba(0,0,0,0.5);
        }
      .activities li a:hover {
        opacity:1;
        }

.project .activities {
  position:absolute;
  bottom:0;
  right:0;
  }

.footer {
  background:#f6f6f6;
  }
  .footer .icon.logo {
    width:66px;
    height:32px;
    background-position:-140px -328px;
    }
  .footer .partners {
    margin:0 0 20px;
    }
    .footer .partners .icon {
      display:inline-block;
      margin:0 5px;
      }

@-webkit-keyframes fadeOutLeft {
  0%    { opacity: 1; -webkit-transform:translateX(0); }
	100%  { opacity: 0; -webkit-transform:translateX(-20px); }
  }
@-moz-keyframes fadeOutLeft {
	0%    { opacity:1; -moz-transform:translateX(0); }
	100%  { opacity:0; -moz-transform:translateX(-20px); }
  }
@-o-keyframes fadeOutLeft {
	0%    { opacity:1; -o-transform:translateX(0); }
	100%  { opacity:0; -o-transform:translateX(-20px); }
  }
@keyframes fadeOutLeft {
	0%    { opacity:1; transform:translateX(0); }
	100%  { opacity:0; transform:translateX(-20px); }
  }

@-webkit-keyframes fadeInLeft {
	0%    { opacity:0; -webkit-transform:translateX(-20px); }
	100%  { opacity:1; -webkit-transform:translateX(0); }
  }
@-moz-keyframes fadeInLeft {
	0%    { opacity:0; -moz-transform:translateX(-20px); }
	100%  { opacity:1; -moz-transform:translateX(0); }
  }
@-o-keyframes fadeInLeft {
	0%    { opacity:0; -o-transform:translateX(-20px); }
	100%  { opacity:1; -o-transform:translateX(0); }
  }
@keyframes fadeInLeft {
	0%    { opacity:0; transform:translateX(-20px); }
	100%  { opacity:1; transform:translateX(0); }
  }

/*-----------------------------------
  Page: Cities
-------------------------------------*/
.marker {
  background:transparent url(img/sprite.png) no-repeat 0 -155px;
  height:60px;
  width:60px;
  margin:-60px 0px 0px -30px;
  display:block;
  pointer-events:auto;
  }
  .marker.marker-dhaka-bangladesh {
    background-position:-65px -155px;
    }
  .marker.marker-colombo-sri-lanka {
    background-position:-130px -155px;
    }
  .marker:hover .popup {
    display:block;
    }

.popup {
  background:#000;
  color:#fff;
  font-weight:bold;
  position:absolute;
  left:50%;
  bottom:55px;
  width:240px;
  height:65px;
  margin-left:-110px;
  display:none;
  text-shadow:none;
  -webkit-animation-duration:150ms;
     -moz-animation-duration:150ms;
       -o-animation-duration:150ms;
          animation-duration:150ms;
  -webkit-animation-fill-mode:both;
     -moz-animation-fill-mode:both;
       -o-animation-fill-mode:both;
          animation-fill-mode:both;
  -webkit-box-shadow:0 2px 4px rgba(0,0,0,0.25);
          box-shadow:0 2px 4px rgba(0,0,0,0.25);
  }
  .popup:after {
    bottom:-5px;
    content:'';
    height:0;
    width:0;
    right:50%;
    margin-right:8px;
    position:absolute;
    border-left:5px solid transparent;
    border-right:5px solid transparent;
    border-top:5px solid #000;
    }
  .active .popup {
    display:block;
    -webkit-animation-name:fadeUpIn;
       -moz-animation-name:fadeUpIn;
         -o-animation-name:fadeUpIn;
            animation-name:fadeUpIn;
    }
  .popup .name {
    float:left;
    padding:10px;
    }
    .popup small {
      display:block;
      color:#999;
      }
  .popup .val {
    background:#3b96cb;
    float:right;
    padding:10px;
    height:45px;
    }
    .popup .val p {
      position:relative;
      top:10px;
      }

/*-----------------------------------
  Page: Interactives
-------------------------------------*/
.interactive-heading {
  background:#fff;
  color:#255d91;
  padding:0 0 20px;
  position:absolute;
  z-index:5000;
  width:100%;
  -webkit-box-shadow:0 2px 4px rgba(0,0,0,0.25);
          box-shadow:0 2px 4px rgba(0,0,0,0.25);
  }
  .interactive-heading h2 {
    font-family:Opensans,'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight:bold;
    font-size:15px;
    line-height:22px;
    margin:0;
    }
  .interactive-heading .subtitle {
    font-size:15px;
    line-height:22px;
    }
  .interactive-heading .nav {
    top:5px;
    }
  .interactive-heading .globals {
    background:#202020 url(img/banners/interactives.png) no-repeat 0 0;
    margin-bottom:20px;
    padding:8px 0;
    background-size:cover;
    text-shadow:0 1px 2px rgba(0,0,0,0.5);
    -webkit-font-smoothing:subpixel-antialiased;
    }
    .interactive-heading .globals a {
      color:#fff;
      text-shadow:0 1px 2px rgba(0,0,0,0.5);
      }
  .interactive-heading .limiter {
    position:relative;
    }

.globals {
  position:relative;
  }

.map-containment {
  position:absolute;
  height:100%;
  width:100%;
  }
.map {
  background:#101010;
  position:absolute;
  top:0;left:0;
  width:100%;
  height:100%;
  }

/*-----------------------------------
  Lil Helpers
-------------------------------------*/
.fl { float:left; }
.fr { float:right; }
.centered { text-align:center; }

/*Markup free clearing
Details: http: //perishablepress.com/press/2009/12/06/new-clearfix-hack*/
.clearfix:after {
  content:'';
  display:block;
  height:0;
  clear:both;
  visibility:hidden;
  }
* html .clearfix { height:1%; }
*:first-child + html .clearfix { min-height:1%; }

/*-----------------------------------
  Mobile
-------------------------------------*/
@media only screen and (max-width:640px) {
  .limiter {
    width:100%;
    padding:0 15px;
    }
  .fr,.fl { float:none; }
  .prose img {
    float:none;
    }
  .col {
    display:block;
    width:100%;
    }
  .inner {
    padding:20px 0 0;
    }
  .icon {
    background-image:url(img/sprite@2x.png);
    background-size:480px 360px;
    }
  .prose img {
    display:block;
    }
  }


