   body { margin:0; padding:0; }
   #map { position:absolute; top:0; bottom:0; width:100%; }
  #map-ui {
    position:absolute;
    top:10px;left:10px;
    list-style:none;
    margin:0;padding:0;
    z-index:100;
    }
    #map-ui a {
      font:normal 13px/18px 'Helvetica Neue',Helvetica,sans-serif;
      background:#FFF;
      color:#3C4E5A;
      display:block;
      margin:0;padding:0;
      border:1px solid #BBB;
      border-bottom-width:0;
      min-width:138px;
      padding:10px;
      text-decoration:none;
      }
    #map-ui a:hover { background:#ECF5FA; }
    #map-ui li:last-child a {
      border-bottom-width:1px;
      -webkit-border-radius:0 0 3px 3px;
              border-radius:0 0 3px 3px;
      }
    #map-ui li:first-child a {
      -webkit-border-radius:3px 3px 0 0;
              border-radius:3px 3px 0 0;
            }
    #map-ui a.active {
      background:#3887BE;
      border-color:#3887BE;
      border-top-color:#FFF;
      color:#FFF;
      }
/*
	body .swipe  { margin:0; padding:0; }
	  #map-swipe.swipe {
        position:absolute;
        top:0;
        left:0;
        right:0;
        bottom:0;
        width:100%;
        height:100%;
        padding:10px;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		-webkit-box-shadow: 0px 3px 24px rgba(50, 50, 50, 0.75);
		-moz-box-shadow:    0px 3px 24px rgba(50, 50, 50, 0.75);
		box-shadow:         0px 3px 24px rgba(50, 50, 50, 0.75);
    }
.border {
	display:block;
	position:absolute;
	z-index:1001;
    background-color:#fff;
	-moz-box-shadow: inset 0 0 18px -2px #000;
	-webkit-box-shadow: inset 0 0 18px -2px #000;
	box-shadow: inset 0 0 18px 0 #000;    
}
#border-right {
	right:0;
    right:0;
    top:0;
    bottom:0;
    width:3%;
    height:100%;
}
#border-left {
	left:0;
    top:0;
    bottom:0;
    width:3%;
    height:100%;
}
#border-top {
	left:3%;
    right:3%;
    top:0;
    width:94%;
    height:3%;
}
#border-bottom {
	left:3%;
    right:3%;
    bottom:0;
    width:94%;
    height:3%;
}

	  #swipe {
	    background:#fff;
	    position:absolute;
        left:5%;
        right:5%;
        bottom:5%;
        width:90%;
	    z-index:1000;
	    padding:10px;
	    height:30px;
	  }

	
	  #swipe #handle {
	    position:absolute;
	    height:20px;
	    padding:5px;
	    background:#aaa;
	    font-weight:bold;
	    border:1px solid #333;
	    cursor:pointer;
	    -webkit-user-select: none;
	  }
	  .map-attribution  .swipe {
	    bottom: 10px;
        right:10px !important;
       
	  }
	*/
	  #map-ui {
	    position:absolute;
	    top:10px;left:10px;
	    list-style:none;
	    margin:0;padding:0;
	    z-index:100;
	    }
	    #map-ui a {
	      font:normal 13px/18px 'Helvetica Neue',Helvetica,sans-serif;
	      background:#FFF;
	      color:#3C4E5A;
	      display:block;
	      margin:0;padding:0;
	      border:1px solid #BBB;
	      border-bottom-width:0;
	      min-width:138px;
	      padding:10px;
	      text-decoration:none;
	      }
	    #map-ui  a:hover { background:#ECF5FA; }
	    #map-ui li:last-child a {
	      border-bottom-width:1px;
	      -webkit-border-radius:0 0 3px 3px;
	              border-radius:0 0 3px 3px;
	      }
	    #map-ui li:first-child a {
	      -webkit-border-radius:3px 3px 0 0;
	              border-radius:3px 3px 0 0;
	            }
	    #map-ui a.active {
	      background:#3887BE;
	      border-color:#3887BE;
	      border-top-color:#FFF;
	      color:#FFF;
	      }