<meta charset=utf-8 />
<title>Open Cities {% if page.url != '/index.html' %}| {{page.title}}{% endif %}</title>
<meta http-equiv='content-type' content='text/html; charset=utf-8'>
<meta name='viewport' content='width=device-width, initial-scale=1.0'>
<meta http-equiv='X-UA-Compatible' content='IE=edge'>
<link rel='shortcut icon' href='{{site.baseurl}}/img/favicon.ico' type='image/x-icon' />
<link href='{{site.baseurl}}/controls.css' rel='stylesheet' />
<link href='{{site.baseurl}}/site.css' rel='stylesheet' />
<script src='http://api.tiles.mapbox.com/mapbox.js/v0.6.7/mapbox.js'></script>
<script src='{{site.baseurl}}/cities.js'></script>
<script src='{{site.baseurl}}/site.js'></script>
<script>
  $(function() {
    gfdrr.global();
  });
</script>
