<div class='footer blue'>
  <div class='limiter centered clearfix'>
    <div class='partners'>
      <h4>Partners</h4>
      <div class='partners'>
        <a href='//gfdrr.org' class='icon gfdrr'>Global Facility for Disaster Reduction and Recovery</a>
        <a href='//worldbank.org' class='icon wb'>WorldBank</a>
        <a href='//developmentseed.org' class='icon ds'>DevelopmentSeed</a>
      </div>
    </div>
  </div>
  <div class='limiter centered'>
    <small>Data &copy; OpenStreetMap contributors</small>
  </div>
</div>
