<div class='footer blue'>
  <div class='limiter centered'>
    <h4 class='title'>Our Partners</h4>
    <div class='partners'>
      <a href='//gfdrr.org' class='icon gfdrr'>Global Facility for Disaster Reduction and Recovery</a>
      <a href='//worldbank.org' class='icon wb'>WorldBank</a>
      <a href='//developmentseed.org' class='icon ds'>DevelopmentSeed</a>
    </div>
    <small>Additional Information goes here along with and legal ledger</small>
  </div>
</div>
<script>
  $(function() {
    gfdrr.global();
  });
</script>
