<div class='globals'>
  <div class='limiter'>
    {% unless page.slideshow %}
      <a href='#' id='toggle' class='icon toggle'>Toggle Nav</a>
    {% endunless %}
    <div class='nav clearfix'>
      <a href='{{site.baseurl}}/about' {% if page.url == "/about" %}class='active'{% endif %}>About</a>
      <a href='{{site.baseurl}}/cities' {% if page.url == "/cities" %}class='active'{% endif %}>All Cities</a>
    </div>
    <a href='{{site.baseurl}}/' class='title icon logo'>Open Cities</a>
  </div>
</div>
