<div class='limiter'>
  <a href='{{site.baseurl}}/' class='title icon logo'>Open Cities</a>
  <div class='nav'>
    <a href='{{site.baseurl}}/cities' {% if page.url == "/cities" %}class='active'{% endif %}>All Cities</a>
    <a href='{{site.baseurl}}/about' {% if page.url == "/about" %}class='active'{% endif %}>About</a>
  </div>

  {% if page.preview %}
    <div class='title-block'>
      <h2>{{page.title}}</h2>
        {% if page.subtitle %}
        <div class='subtitle'>{{page.subtitle}}</div>
      {% endif %}
    </div>
  {% endif %}
</div>
