---
layout: default
---


<div class='section'>
  <div class='limiter centered'>
    <h4 class='title'>{{content}}</h4>
  </div>

  <ul class='activities grid clearfix'>
    {% for case in site.categories.casestudy %}
      {% for tag in case.tags %}
        {% if tag == page.city %}
        <li>
          <a href='{{site.baseurl}}/{{case.url}}'>
            <h4 class='case-title'>{{case.title}}</h4>
            <span class='more'>More</span>
          </a>
          <p>{{case.subtitle}}</p>
        </li>
        {% endif %}
      {% endfor %}
    {% endfor %}
  </ul>

</div>
