---
layout: default
---


<div class='section'>
  <div class='limiter centered'>
    <h4 class='title'>{{content}}</h4>
  </div>

  <ul class='activities grid clearfix'>
    {% for case in site.categories.casestudy %}
      {% for tag in case.tags %}
        {% if tag == page.city %}
        <li style='background-image:url("http://api.tiles.mapbox.com/v3/{{case.map}}/{{page.geom[1].lon}},{{page.geom[0].lat}},13/400x300.png");'>
          <a href='{{site.baseurl}}/{{case.url}}'>
            <h4 class='case-title'>{{case.title}}</h4>
            <span class='more'>More</span>
          </a>
          <p class='city-desc'>{{case.subtitle}}</p>
        </li>
        {% endif %}
      {% endfor %}
    {% endfor %}
  </ul>

</div>
