<!DOCTYPE html>
<html>
<head>
  {% include dochead.html %}
</head>
<body>

    {% if page.no-header %}
    <div id='header' class='header no-header'></div>
    {% elsif page.preview %}
    <div id='header' class='header' style='background-image:url("{{site.baseurl}}/img/banners/{{page.preview}}");'>
      <div class='dot-matrix'></div>
      {% include header.html %}
    </div>

    {% elsif page.slideshow %}
    <div id='header' class='header'>
      <a href='#prev' class='slide-control prev'>
        <span href='#previous' class='icon prev'>Previous</span>
      </a>
      <a href='#next' class='slide-control next'>
        <span href='#next' class='icon next'>Next</span>
      </a>
      {% for item in page.slideshow %}
      <div class='slide {% if item.nocover %}no-cover {% endif %} {% if forloop.first %}active {% endif %} slide-{{forloop.index}}' data-index='slide-{{forloop.index}}' style='background-image:url("{{site.baseurl}}/img/banners/{{item.slide}}");'>
        {% include header.html %}
        <div class='title-block'>
          <h2>{{item.title}}</h2>
          <p class='subtitle'>{{item.subtitle}}</p>
        </div>
      </div>
      {% endfor %}
      <script>
        $(function() {
          gfdrr.slideShow($('.header'));
        });
      </script>
    </div>
    {% elsif page.map %}
    <div id='header' class='map header'>
      {% include header.html %}
      <script>
        var header = document.getElementById('header');
        $(function() {
          gfdrr.citiesMap(header, '{{page.map}}');
        });
      </script>
    </div>
    {% endif %}

  {{content}}

  <div class='footer blue'>
    <div class='limiter centered'>
      <h4 class='title'>Our Partners</h4>
      <div class='partners'>
        <a href='//gfdrr.org' class='icon gfdrr'>Global Facility for Disaster Reduction and Recovery</a>
        <a href='//worldbank.org' class='icon wb'>WorldBank</a>
        <a href='//developmentseed.org' class='icon ds'>DevelopmentSeed</a>
      </div>
      <small>Additional Information goes here along with and legal ledger</small>
    </div>
  </div>
</body>
</html>
