<!DOCTYPE html>
<html>
<head>
  {% include head.html %}
</head>
<body>

  <div id='header' class='header {% if page.no-header %}no-header {% endif %}{% if page.id %}{{page.id | replace "/" ""}}{% endif %}'>
    {% if page.preview %}
      <img class='banner' src='{{site.baseurl}}/img/banners/{{page.preview}}' alt='' />
    {% elsif page.slideshow %}

      <a href='#prev' class='slide-control prev'>
        <span href='#previous' class='icon prev'>Previous</span>
      </a>
      <a href='#next' class='slide-control next'>
        <span href='#next' class='icon next'>Next</span>
      </a>

      {% for item in page.slideshow %}
      <div class='slide {% if forloop.first %}active{% endif %}' data-index='slide-{{forloop.index}}'>
        <img class='banner  {% if item.nocover %}no-cover{% endif %}' src='{{site.baseurl}}/img/banners/{{item.slide}}' alt='' />
        <div class='limiter'>
          <div class='title-block'>
            <h2>{{item.title}}</h2>
          </div>
        </div>
      </div>
      {% endfor %}

      <script>
        $(function() {
          gfdrr.slideShow($('.header'));
        });
      </script>

    {% elsif page.map %}
      <script>
        var header = document.getElementById('header');
        $(function() {
          gfdrr.renderMap(header, '{{page.map}}');
        });
      </script>
    {% endif %}

    <div class='limiter'>
      <a href='{{site.baseurl}}/' class='title icon logo'>Title of the site here</a>
      <div class='nav'>
        <a href='{{site.baseurl}}/about' {% if page.url == "/about" %}class='active'{% endif %}>About</a>
        <a href='{{site.baseurl}}/cities' {% if page.url == "/cities" %}class='active'{% endif %}>Cities</a>
      </div>

      {% if page.preview %}
        <div class='title-block'>
          <h2>{{page.title}}</h2>
          {% if page.subtitle %}
            <div class='subtitle'>{{page.subtitle}}</div>
          {% endif %}
        </div>
      {% endif %}
    </div>
  </div>

  {{content}}

  <div class='footer blue'>
    <div class='limiter centered'>
      <h4>Our Partners</h4>
      <div class='partners'>
        <a href='https://gfdrr.org' class='icon gfdrr'>Global Facility for Disaster Reduction and Recovery</a>
        <a href='http://worldbank.org' class='icon wb'>WorldBank</a>
      </div>
      <small>Additional Information goes here along with and legal ledger</small>
    </div>
  </div>
</body>
</html>
